<!-- ============================================ -->
<!--          Navigation (Restaurant)             -->
<!-- ============================================ -->
<header id="cs-navigation">
    <div class="cs-container">
        <a href="/" class="cs-logo" aria-label="{{ client.name }} Home">
            <span class="cs-logo-name">{{ client.name }}</span>
        </a>
        <nav class="cs-nav" aria-label="main navigation">
            <button class="cs-toggle" id="cs-toggle" aria-expanded="false" aria-controls="cs-ul-wrapper" aria-label="mobile menu toggle" aria-haspopup="menu">
                <span class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </span>
            </button>
            <div class="cs-ul-wrapper" id="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul">
                    <li class="cs-li">
                        <a href="#services" class="cs-li-link">Dishes</a>
                    </li>
                    <li class="cs-li">
                        <a href="#menu" class="cs-li-link">Menu</a>
                    </li>
                    <li class="cs-li">
                        <a href="#testimonials" class="cs-li-link">Reviews</a>
                    </li>
                    <li class="cs-li">
                        <a href="#order" class="cs-li-link">Order</a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="#order" class="cs-button-solid cs-nav-button">Order Now</a>
    </div>
</header>
