{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/assets/css/local.css"></noscript>
    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}
    <script defer src="/assets/js/script.js"></script>
{% endblock %}

{% block header %}{% include "sections/header-service.html" %}{% endblock %}

{% block body %}
    {% set heroCta = { text: "Get Your Free Quote", href: "#quote-form" } %}
    {% include "sections/hero.njk" %}

    {% include "sections/trust-bar.njk" %}

    {% set sectionLabel = "What We Offer" %}
    {% set sectionTitle = "Our Services" %}
    {% include "sections/service-cards.njk" %}

    {% include "sections/testimonials.njk" %}

    {% include "sections/about.njk" %}

    {% include "sections/quote-form.njk" %}
{% endblock %}
